html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
} 

@media (max-width: 600px) {
  #flutter_target {
    height: 844px;  
    overflow: hidden;
  }
}

@media (min-width: 600px) {
  #flutter_target {

    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
   
    width: 390px;
    height: 844px;  
    border-radius: 14px;
    border: 5px solid #000;
    overflow: hidden;
  }
}



.center { 
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.contain {
  display:block;
  width:100%; height:100%;
  object-fit: contain;
}

.stretch {
  display:block;
  width:100%; height:100%;
}

.cover {
  display:block;
  width:100%; height:100%;
  object-fit: cover;
}

.bottom {
  position: absolute;
  bottom: 0;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

.bottomLeft {
  position: absolute;
  bottom: 0;
  left: 0;
}

.bottomRight {
  position: absolute;
  bottom: 0;
  right: 0;
}